header{
    text-align: center;
}

.start-screen {
    font-size: 30px;
    color: cornflowerblue;
    padding: 40px;
    text-align: center;
}
button {
    background-color: darkcyan;
    color: black;
    align-items: center;
}
p {
    text-align: center;
    color: cornflowerblue;
    font-size: 20px;
}
.hide {
    display: none;
}
.questions-container {
    text-align: center;
    color:black;
}