header{
    text-align: center;
}

.header-font {
    font-size: 40px;
    color: cornflowerblue;
    padding: 40px;
}
button {
    background-color: darkcyan;
    color: black;
    align-items: center;
}
p {
    text-align: center;
    color: cornflowerblue;
    font-size: 20px;
}
.hide {
    display: none;
}